.root {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.btnStack {
	align-items: center;
	bottom: 50px;
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: space-between;
	left: 50px;
	position: absolute;
	z-index: 2;
}

.sideBtn {
	height: 40px;
	width: 40px;
}

.rotatable {
	transition: 0.3s;
}

.closeMode {
	transform: rotate(45deg);
	transition: 0.3s;
}

.stack {
	position: relative;
	width: 50%;
}

.mapLayer {
	aspect-ratio: 1.29;
}

.mapBackground {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.entryContainer {
	height: 80vh;
	overflow-x: hidden;
	transition: 0.5s;
}

.nWidth {
	margin-left: 3rem;
	overflow-y: scroll;
	padding-right: 2rem;
	width: 25vw;
}

.zWidth {
	width: 0px;
}

.entryBg {
	align-items: center;
	background-color: #2e2e2e;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 1rem;
	padding: 1.5rem 0;
	width: 25vw;
}

.entryLocation {
	color: #85c997;
	border-bottom: 2px solid #333;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 2rem;
	padding: 0 0 0.5rem 0.5rem;
	width: 20vw;
}

.entryRow {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	text-align: justify;
	margin-top: 0.75rem;
	width: 20vw;
}

.entrySingleLine {
	height: 1rem;
	line-height: 1rem;
}

.entryIcon {
	margin-right: 2rem;
	width: 20px;
}

.inputOverlayBg {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	height: 100vh;
	justify-content: center;
	position: absolute;
	width: 100vw;
	z-index: 1;
}

.inputBg {
	align-items: center;
	border-radius: 1rem;
	background-color: #333;
	display: flex;
	justify-content: space-between;
	height: 27rem;
	width: 35rem;
}

.inputContent {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 22rem;
	justify-content: space-between;
}

.inputTimePicker {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.inputTimePickerSeparator {
	margin: 0 1rem;
}

.datePickRoot {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.datePickRow {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.datePickMonth {
	text-align: center;
	width: 8rem;
}

.datePickCell {
	align-items: center;
	display: flex;
	font-size: 1rem;
	font-weight: bold;
	justify-content: center;
	height: 2rem;
	width: 2rem;
}

.dataPickCellSelected {
	border: 2px solid #444;
	border-radius: 0.5rem;
}

.datePickCellDisabled {
	color: #555;
}

.datePickCellAccented {
	color: #85c997;
}

.timePickRoot {
	align-items: center;
	display: flex;
	justify-self: center;
}

.timePickRoller {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-self: center;
	width: 3rem;
}

.inputRow {
	align-items: flex-start;
	display: flex;
	justify-content: center;
}

.inputIcon {
	margin-right: 1rem;
}

.inputSelect {
	background-color: transparent;
	/* border: 1px solid white; */
	border: 0;
	color: #ddd;
	font-size: 1.5rem;
	outline: none;
	width: 25rem;
}

.inputOption {
	background-color: #555;
	color: #ddd;
}

.inputRemarks {
	background-color: transparent;
	border: 0;
	color: #ddd;
	font-size: 1rem;
	height: 18rem;
	outline: none;
	resize: none;
	width: 25rem;
}
