.root {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.btnStack {
	align-items: center;
	bottom: 50px;
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: space-between;
	left: 50px;
	position: absolute;
}

.sideBtn {
	height: 40px;
	width: 40px;
}

.stack {
	position: relative;
	width: 50%;
}

.mapLayer {
	aspect-ratio: 1.29;
}

.mapBackground {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
