.root {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.stack {
	position: relative;
	height: 773px;
	width: 1001px;
}

.mapLayer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.mapBackground {
	z-index: -1;
}
